* {
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: darkgreen;
    width: 100%;
    position: fixed;
}

header a {
    margin-left: 5%;
}

#pesquisa {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 10%;
}

select, input {
    margin: 1%;
    font-size: 150%;
    border: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 90px;
}

#livro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: green;
    border-style: solid;
    border-radius: 2%;
    margin: .5%;
    padding: .5%;
    width: 80%;
}

.box {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.box p, a{
    margin: 1%
}

#titulo {
    font-size: xxx-large;
    font-weight: bold;
    font-style: italic;
}


#link {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgreen;
    padding: 1%;
    margin-top: 1%;
}

footer div {
    width: 100%;
}
footer a{
    color: black;
    font-style: italic;
}
footer p{
    display: flex;
    justify-content: flex-end;
}
